.case-welcome {
    position: relative;
}
.case-welcome-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1151px;
}
.case-welcome-img {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.case-welcome-img source {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: 1;
}
.case-welcome-back{
    position: absolute;
    top: 32px;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.case-welcome-source {
    position: absolute;
    right: 0px;
    color: #ffffff;
    bottom: 0;
    width: 20px;
}
.case-welcome-source p {
    white-space: nowrap;
    transform: rotate(270deg);
    margin-bottom: 5px;
}
.case-welcome-back button {
    padding: 8px 16px;
    cursor: url("../icon/cursor-finger.svg"), pointer;
    font-family:  'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 16px;
    background-color: transparent;
    border: none;
    transition: 0.4s;
}
.case-welcome-back:hover button{
    background-color: #000000;
    transition: 0.4s;
    color: #ffffff;
    transition: 0.4s;
}
.case-welcome-back .black-button {
    background-color: #000000;
    color: aliceblue;
}
.case-welcome-back.white-hover-button:hover button{
    background-color: #ffffff !important;
    color: #000000 !important;
}





.case-container {
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
    padding: 66px 144px 65px 143px;
    display: flex;
    flex-direction: column;
}
.case-info.special{
    width: 543px;
    padding: 16px;
    padding-left: 0;
}
.case-info {
    width: 543px;
    padding: 16px;
}
.case-text-block {
    height: 319px;
    width: 575px;
}
.case-pictures .case-text-block h3 {
    position: relative;
    margin: 0;
    opacity: 1;
    margin-bottom: 16px;
}
.case-pictures {
    display: flex;
    flex-wrap: wrap;
}
.case-square-block{
    width: 575px;
    height: 638px;
    display: flex;
    flex-wrap: wrap;
}
.case-line-block{
    width: 1152px;
    display: flex;
}
.case-regular-block {
    width: 287px;
    height: 319px;
    position: relative;
}
.changing-block {
    position: absolute;
    width: 287px;
    height: 319px;
    transition: 0.3s;
    cursor: url("../icon/cursor-plus.svg"), pointer;
    filter: grayscale(100%);
}
.case-regular-block:hover .changing-block {
    width: 575px;
    height: 639px;
    z-index: 2;
    transition: 0.3s ease-out 0.2s;
    filter: grayscale(0%);
}
.img-block {
    height:inherit;
    object-fit: cover;
}
.case-regular-block img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.case-info-block {
    padding: 16px;
    position: relative;
    width: 255px;
    height: 287px;
    overflow: hidden;
}
.case-info-block h4 {
    position: absolute;
    top: -50px;
    left: -20px;
    color: #000000;
    z-index: -1;
    opacity: 0.2;
}
.case-regular-block .case-info-block h3 {
    opacity: 1; z-index: 0; 
    position: relative; 
    margin-bottom: 16px; 
    margin-top: 0; 
    margin-left: 0;
}


.case-button {
    position: relative;
    width: 575px;
    padding: 16px 0 16px 0;
    height: 287px;
}
.case-button h2 {
    position: absolute;
    bottom: 64px;
}
.case-button h4 {
    position: absolute;
    bottom: -82px;
    left: -188px;
    opacity: 0.5;
    color: #3DB9FF;
    z-index: -1;
    transition: 0.3s;
}
.case-button p {
    margin-top: 16px;
}


.slider-block {
    position: relative;
}
.slider-block img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.case-pictures h2 {
    position: absolute;
    width: 447px;
    z-index: 2;
    text-align: left;
    opacity: 1;
    transition: 0.3s;
}
.case-pictures h3 {
    position: absolute;
    width: 447px;
    z-index: -1;
    text-align: left;
    opacity: 0;
    transition: 0.3s;
    margin-top: 16px;
    margin-left: 16px;
}
.case-pictures li:hover h3{
    opacity: 1;
    z-index: 3;
    transition: 0.3s ease-out 0.3s;
}

.white-text {
    color: #ffffff;
    text-shadow: 1px 0 20px rgb(51, 51, 51);
}



