html{
    scroll-behavior: smooth;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
    font-family: 'Overpass';
}
h1 {
    font-size: 256px;
    font-weight: 800;
}
h2 {
    font-size: 64px;
    font-weight: 900;
}
.big-text-style {
    font-size: 32px;
    font-weight: 300;
}
.small-text-style {
    font-size: 16px;
    font-weight: 100;
}
button {
    font-family: 'Overpass';
    font-size: 16px;
    font-weight: 700;
}


li{
    list-style: none;
}



header {
    background-color: #060606;
}
.head {
    position: fixed;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 36px;
    padding-left: 2.5vw;
}
.project-logo {
    width: 174px;
    cursor: pointer;
}
.nav-for-burger {
    display: none;
}
.cross {
    display: none;
}
.burger {
    cursor: pointer;
}




.welcome {
    background-color: #060606;
    color: #E5E5E5;
}
.welcome-content {
    width: 1024px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
.img-girl-hat {
    width: 369px;
    position: absolute;
    top:0;
    z-index: 0;
    opacity: 60%;
}
.img-clock {
    width: 369px;
    position: relative;
    left: 524px;
    z-index: 0;
    opacity: 50%;
}
.img-cap {
    width: 238px;
    position: relative;
    left: 786px;
    z-index: 1;
    bottom: 89px;
}
.welcome-text {
    position: absolute;
    top: 283px;
    width: 718px;
}
.welcome-text h1 {
    position: absolute;
    left: -19px;
}
.welcome-text p {
    position: absolute;
    font-size: 32px;
    font-weight: 300;
    width: 194px;
    top: 242px;
    right: 0;
}
.welcome-arrow {
    position: absolute;
    bottom: 20px;
    display: flex;
    width: 1024px;
    justify-content: center;
}
.welcome-arrow img {
    cursor: pointer;
    width: 40px;
    padding: 20px;
    transition: margin 1s;
}

.welcome-arrow img:hover {
    margin-bottom: -20px;
}





.questions {
    background-color: #060606;
    color: #E5E5E5;
}
.questions-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 840px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.questions-header h2 {
    width: 620px;
}
.questions-text{
    position: absolute;
    width: 953px;
    height: 689px;
    top: 78px;
    left: 88px;
}

.questions-line {
    position: absolute;
}


.questions-text ul :nth-child(1) {
    position: absolute;
    left: 392px;
}
.questions-text ul :nth-child(2) {
    position: absolute;
    top: 68px;
}
.questions-text ul :nth-child(3) {
    position: absolute;
    top: 27px;
    left: 524px;
}
.questions-text ul :nth-child(4) {
    position: absolute;
    top: 99px;
    left: 786px;
}
.questions-text ul :nth-child(5) {
    position: absolute;
    top: 191px;
    left: 262px;
}
.questions-text ul :nth-child(6) {
    position: absolute;
    top: 500px;
    left: 524px;
}
.questions-text ul :nth-child(7) {
    position: absolute;
    top: 420px;
    left: 866px;
    width: 95px;
}
.questions-text ul :nth-child(8) {
    position: absolute;
    top: 514px;
}
.questions-text ul :nth-child(9) {
    position: absolute;
    top: 589px;
    left: 655px;
}
.questions-text ul :nth-child(10) {
    position: absolute;
    top: 648px;
    left: 131px;
}



.slides {
    background-color: #060606;
}
.slides-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    height: 840px;
}


.slides-one {
    position: relative;
    height: 164px;
    margin-bottom: 6px;
}
.slides-one p {
    display: none;
}
.slides-one img {
    height: 100%;
    width: 1280px;
    object-fit: cover;
}


.slides-text ul :nth-child(1) h2 {
    position: absolute;
    top:108px;
    left:128px;
}
.slides-text ul :nth-child(2) h2 {
    position: absolute;
    top:108px;
    left:392px;
}
.slides-text ul :nth-child(3) h2 {
    position: absolute;
    top:108px;
    left:128px;
}
.slides-text ul :nth-child(4) h2 {
    position: absolute;
    top:108px;
    left:524px;
}

.slides-button button {
    color: #E5E5E5;
    background-color: #060606;
    border-style: none;
    padding: 12px 53px 10px;
    border: #E5E5E5 solid 3px;
    margin-top: 54px;
}